# Не создавать файл package-lock.json
package-lock=false

# Сохранить точную версию (1.2.3 вместо ^1.2.3)
save-exact=true

# Отключить автоматическую проверку уязвимостей
audit=false

# Не показывать уведомления о возможности поддержать open-source проекты
fund=false
